*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

.container {
  width: 60%;
  margin: 2rem auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 5vw);
    grid-gap: 1.5rem;
  }
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .gallery__item--2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 6;
  }

  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
  }

  .gallery__item--5 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 8;
  }

  .gallery__item--6 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 11;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  h1 {
    font-size: 3rem;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
  }
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .gallery__item--2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 6;
  }

  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
  }

  .gallery__item--5 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 8;
  }

  .gallery__item--6 {
    grid-column-start: 9;
    grid-column-end: 16;
    grid-row-start: 1;
    grid-row-end: 8;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(16, 5vw);
    grid-gap: 1.5rem;
  }
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .gallery__item--2 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 7;
  }

  .gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 10;
  }

  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 10;
    grid-row-end: 13;
  }

  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 13;
    grid-row-end: 16;
  }

  .gallery__item--6 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 13;
    grid-row-end: 16;
  }
}
