h1 h2 h3 {
    color:black;
}


h3 {
    font-size:16px;
    font-weight: 700;
}

#preguntas {
    background-color: hotpink;
}

.milabel  {
    font-size: 16px;
    color: white;
    font-family: sans-serif;
}