html {
    background-color: rgb(245, 147, 228);
    text-align: center;
}
h1 {
    color: black;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 10%;
    margin-left: 15%;
    padding-top: 2%;

}
section {
    font-size: 15px;
    font-weight: 50;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 25%;
    margin-right: 10%;
    padding-bottom: 4%;
}
blockquote {
    color: blueviolet;
    font-size: 25px;
}
img {
    display: block;
    margin: auto;
}
video {
    display: block;
    margin: auto;
}
p {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}