#consigna {font-size: 2rem; text-align: center; padding-bottom: 10px}
body{background-color:rgb(255, 219, 205);}
h1, h2 {font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1 {color: brown; font-size: 2.5rem;}
h2 {color: black; font-size: 1.5rem;}
nav {text-align: center; padding: 7px;}
p {font-family: initial; font-size: 20px;}
blockquote {padding: 10px;}
div {text-align: right;}
