body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 10px;
  }
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  .row {
    display: flex;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  /* Responsive layout - */
  /* Cuando la pantalla sea menor a 800px de ancho, haremos que el sidebar se mueva a abajo y ocupe el total del ancho.*/
  @media screen and (min-width: 600px) and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
      width: 100%;
      padding: 0;
    }
    .row {
      display: block;
    }
  }
  @media screen and (max-width: 599px) {
    .leftcolumn,
    .rightcolumn {
      width: 100%;
      padding: 0;
    }
    .row {
      display: block;
    }
  }