$card-font-style:Helvetica;
$card-title-font-size:1 rem;
$card-description-font-size:0.7rem;
$card-font-color: #ccc;
$card-padding: 4px;
$card-bg-color: #3c3c3c;
$card-width:100%;
$card-use-alternative-color: false;
$card-bg-alt-color: #ccc;
$card-font-alt-color: #3c3c3c;
$card-with-padding:true;
$card-with-hover: false;
$cards-enable:true;
$button-color:#3cb371;
$button-font-color:#ffffff;
$button-font-family:Helvetica;
$button-padding:10px;
$button-width:60px;
$button-enable:true;
$button-color-alt:#ffa500;
$button-font-color-alt:#ff0000;
$breadcrumb-font-size: 1rem;
$breadcrumb-font-family:Helvetica;
$breadcrum-color-alt: #ee82ee;
$breadcrum-bg-color-alt:#3c3c3c;
$breadcrumb-alt:true;
$breadcrumb-color:#996633;
$breadcrumb-bg-color: #ccffcc;



@if $cards-enable {
.card {
font-family: $card-font-style;
width: $card-width;
@if $card-use-alternative-color {
    background-color: $card-bg-alt-color;
    color: $card-font-alt-color;
} @else {
    background-color: $card-bg-color;
    color: $card-font-color;
}
@if $card-with-padding {
    padding: $card-padding;
}
@if $card-with-hover {
&:hover {
    font-weight: bold;
}
}
}
.card .title {
font-size: $card-title-font-size;
}
.card .description {
    font-size: $card-description-font-size;
}
}
.button {
    font-family:$button-font-family;
    padding: $button-padding;
    width: $button-width;
    height: 20px;

    @if $button-enable {
background-color: $button-color-alt;
color: $button-font-color-alt;
    } @else {
        background-color: $button-color;
        color: $button-font-color;
    }
    
}
.breadcrumb {
font-size: $breadcrumb-font-size;
font-family: $breadcrumb-font-family;
@if $breadcrumb-alt{
    color: $breadcrum-color-alt;
    background-color: $breadcrum-bg-color-alt;
} @else {
    color: $breadcrumb-color;
    background-color: $breadcrumb-bg-color;
}
&:hover {
    color: #cc3399;
}
}