//variables css
$font-family: helvetica,sans-serif;
$primary-color: #333;
$btn-padding: 4px;
$btn-text-color:#000;
$btn-bg-color: #ccc;
$btn-radius: 6px;

body{
   font: 100% $font-family;
   color: $primary-color;
}

.btn{
   color: $btn-text-color;
   background-color: $btn-bg-color;
   padding: $btn-padding;
   border-radius: $btn-radius;
}

.card{
color: $btn-text-color;
background-color: $btn-bg-color;
}