/*mobile first*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.container {
  width: 60%;
  margin: 2rem auto;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 5%);
  grid-gap: 1.5rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(11, 5vw);
    grid-gap: 1rem;
  }
  .gallery__item--1 {
    grid-column: 1/5;
    grid-row: 1/3;
  }

  .gallery__item--2 {
    grid-column: 5/9;
    grid-row: 1/3;
  }

  .gallery__item--3 {
    grid-column: 1/9;
    grid-row: 3/6;
  }

  .gallery__item--4 {
    grid-column: 1/5;
    grid-row: 6/8;
  }

  .gallery__item--5 {
    grid-column: 5/9;
    grid-row: 6/8;
  }

  .gallery__item--6 {
    grid-column: 1 / 9;
    grid-row: 8/11;
  }
}
@media (min-width: 1024px) and (orientation: landscape)  {
  .gallery__item--1 {
    grid-column: 1 / 3;
    grid-row: 1/3;
  }

  .gallery__item--2 {
    grid-column: 3 / 5;
    grid-row: 1/3;
  }

  .gallery__item--3 {
      grid-column: 1/5;
      grid-row:3/6;
  }

  .gallery__item--4 {
    grid-column: 1/3;
    grid-row:6/8;
  }

  .gallery__item--5 {
    grid-column: 3/5;
    grid-row:6/8;
  }

  .gallery__item--6 {
    grid-column: 5/9;
    grid-row: 1/8;
  }
}
