.carousel-item {
    height: 650Px;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

#mainNavbar {
    padding-left: 50px;
    padding-top: 20px
}
.logo{
    width: 15%;
    border: #1B1C1B solid 1px; 
}
img{
    height: 100%;
}
/*Form Serch*/
form{
    padding:30px;
}
.margin{
   margin-left: 30px;
   margin-top: 10px;
}
/*quien somos*/
p{
    font-style: italic;
}

.center{
    margin: 0px 200px;
    font-size: 20px;
}

/*Destinos*/

.Iam {
    padding: 2em 5em;
    font: normal 40px/50px Montserrat, sans-serif;
    color: #999;
  }
  .Iam p {
    height: 50px;
    float: left;
    margin-right: 0.3em;
  }
  .Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 40px;
  }
  .Iam .innerIam {
    display: inline-block;
    color: #0CCB6C;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;

  /*animation*/
    animation:move 3s;  
  /*animation-iteration-count*/
    animation-iteration-count:infinite;
  /*animation-delay*/
          animation-delay:1s;
  }
  @keyframes move{
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
  }
  
  @-webkit-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-moz-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-o-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  /*Cards paquetes*/
  .margincards{
      margin-top: 60px;
  }
  .more{
      margin: 30px;
    text-align: center;
  }
  .icon{
      color:#0CCB6C ;
  }
  
  .linkcontct{
    color:#393737
  }
/*cards blog*/
.bgimagen{
    background: url(../img/hot-air-ballons-828967_640.jpg);
    background-size: cover;
}
.cardmargin{
    margin-top: 30px;
}
.cardborder{
    border: solid 1px var(--color-border);
    border-radius: 20px !important;
    display: block;
    overflow: hidden !important;
}
.contenedor{
    overflow: hidden;
}
.contenedor:hover{
    transform:scale(1.1)
}
/*footer*/
/*primercolumna*/
.sector1 {
    width: 100%;
    height: 280px;
    background-color: #292929
}
.Jordan {
    width: 14%;
    height: 280px;
    position: relative;
    left: 8%;
    top: 30px
}
.sitelink {
    font-size: 35px;
    color: #ffffff;
}
.title {
    color: gray;
    position: relative;
    top: 0px;
    font-size: 14.1px
}
/*segunda columna*/
.enlaces {
    width: 14%;
    height: 280px;
    position: relative;
    top: -235px;
    left: 29%
}
.txt {
    color: white;
    font-size: 20px
}
.linkfoot {
    display: flex;
    width: 90px;
    height: 40px;
    color: #aaa7a7;
    background-color: transparent;
    position: relative;
    top: -10px
}
.linkline{
    border-top: 2px solid white;
}
.sucursal {
    width: 14%;
    height: 280px;
    position: relative;
    top: -515px;
    left: 42%
}
.text {
    color: #aaa7a7;
    font-size: 14px;
    margin-top: -10px
}
/*3columna*/
.subscribe {
    position: relative;
    top: -700px;
    left: 78%;
    width: 14%;
    height: 280px
}
/*foot black*/
.foot {
    width: 100%;
    height: 50px;
    background-color: black;
    position: relative;
    top: -15px
}
.txtfoot{
        color: white;
        position: relative;
        top: 13px;
        left: 8%;
        width: 80%;
        color: #aaa7a7;
}

@media only screen and (max-width:1000px) {
    .enlaces {
        width: 20%
    }

    .sitelink {
        font-size: 30px
    }
    }

@media only screen and (max-width:850px) {
    .Jordan {
        position: relative;
        left: 3%
    }

    .textfoot {
        position: relative;
        left: 3%
    }

    .txt {
        font-size: 15px
    }

    .enlaces {
        position: relative;
        top: -240px;
        left: 26%
    }

    .sitelink {
        font-size: 25px
    }

    .link {
        width: 60px
    }

    .sucursal {
        position: relative;
        top: -520px;
        left: 37%
    }

    .text {
        font-size: 13px
    }

    #subscribe {
        position: relative;
        top: -1080px;
        left: 76%;
        width: 20%
    }
    .sector1 {
        height: 250px
    }
    }